extends /templates/manager

block content
    h1.border-bottom.pb-3.mb-4 Reports

    button.btn.btn-primary.btn-lg Sales Report
    button.btn.btn-primary.btn-lg Tip Report
    button.btn.btn-primary.btn-lg Loss Report