nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-5

    .container
        a.navbar-brand(href='/mockups') #TODO
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-contents')
            span.navbar-toggler-icon

        div.collapse.navbar-collapse#navbar-contents
            ul.navbar-nav.mr-auto
                li.nav-item: a.nav-link(href='#') Home
                li.nav-item: a.nav-link(href='#') Order
                li.nav-item: a.nav-link(href='#') Sign In