extends /templates/kitchen

block content
    .row#orders
        .col-4
            .card
                .card-body
                    h5.card-title #1438
                    ul.card-text
                        li Diet Coke
                        li Hot Dog **
        .col-4
            .card
                .card-body
                    h5.card-title #1439
                    ul.card-text
                        li Coke
                        li Fried Pickles
                        li Hamburger