extends /templates/staff

block scripts
    script(src="/mockups/static/scripts/mockup-staff.js")

block content

    table.table#staff-table
        thead.thead-dark
            tr
                th(scope='col') Table
                th(scope='col') Status
                th(scope='col') Request
        tbody
            - for (var i = 1; i <= 16; ++i) {
                tr.show-table-modal&attributes({ 'data-table-number' : i + '' })
                    th(scope='row')= i
                    td(id='status-' + i) -
                    td(id='help-' + i) -
            - }
