extends /templates/table

block styles
    style.
        #items div {
            margin-top: 0.5rem;
        }

block content
    .row
        .col-9
            h3.border-bottom.pb-3 Select Dessert

            .row#items
                .col-4
                    .card
                        .card-body
                            h5.card-title Ice Cream
                .col-4
                    .card
                        .card-body
                            h5.card-title Chocolate Cake
                
            .row
                .col-2.mt-3.mr-3
                    button.btn.btn-large.btn-primary None
        
        .col-3
            h3.border-bottom.pb-3.mb-4 Order

            .card.my-3
                .card-body
                    ul.list-unstyled
                        li.text-truncate Diet Coke
                        li.text-truncate Fried Pickles
                        li.text-truncate Hamburger
                        li.text-truncate No dessert
            .card.my-3
                .card-body
                    ul.list-unstyled
                        li.text-truncate Sprite
                        li.text-truncate No appetizer
                        li.text-truncate Hot Dog
