extends /templates/main

block content
    h1 Mock-Ups

    ul
        li: a(href='/mockups/readme.html') Readme
        
        li
            a(href='/mockups/table/index.html') Table
            ul
                li: a(href='/mockups/table/menu.html') Menu