extends /templates/main

block content
    h1 Mock-Ups

    ul
        li: a(href='/mockups/readme.html') Readme
        
        li
            a(href='/mockups/table/') Table

            ul
                li
                    a(href='/mockups/table/index.html') Main View

                    ul
                        li: a(href='/mockups/table/index.html') Awaiting Order
                        li: a(href='/mockups/table/order_received.html') Order Placed
                        li: a(href='/mockups/table/order_cooking.html') Order Cooking
                        li: a(href='/mockups/table/order_incoming.html') Order Incoming
                        li: a(href='/mockups/table/awaiting_payment.html') Awaiting Payment

            ul
                li: a(href='/mockups/table/menu.html') Menu
        
        li
            a(href='/mockups/staff/') Staff

            ul
                li
                    a(href='/mockups/staff/index.html') Main View

                ul
                    li: a(href='/mockups/staff/index.html') Overview
                    li: a(href='/mockups/staff/table_details.html') Table Details

        
        li
            a(href='/mockups/kitchen/') Kitchen

            ul
                li
                    a(href='/mockups/kitchen/index.html') Main View

                    ul
                        li: a(href='/mockups/kitchen/index.html') No Order In Progress
                        li: a(href='/mockups/kitchen/order_details.html') Order Details
                        li: a(href='/mockups/kitchen/order_started.html') Order Started