extends /templates/takeout

block content
    .row
        .col-10
            h1.mb-5.pb-3 Menu

            h3.border-bottom.pb-2 Beverages
            .container.my-3.py-3
                .row
                    .col-4
                        .card
                            .card-body
                                h5.card-title Water
                                p.card-text (free)
                    .col-4
                        .card
                            .card-body
                                h5.card-title Soft Drink
                                p.card-text $3.99 – free refills
                    .col-4
                        .card
                            .card-body
                                h5.card-title Coffee
                                p.card-text $4.99 per pot

            h3.border-bottom.pb-2 Appetizers
            .container.my-3.py-3
                .row
                    .col-4
                        .card
                            .card-body
                                h5.card-title Fried Pickles
                                p.card-text $4.99
                    .col-4
                        .card
                            .card-body
                                h5.card-title Chips &amp; Salsa
                                p.card-text $5.99 (bottomless)

            h3.border-bottom.pb-2 Entrees
            .container.my-3.py-3
                .row
                    .col-4
                        .card
                            .card-body
                                h5.card-title Hot Dog
                                p.card-text $5.99
                    .col-4
                        .card
                            .card-body
                                h5.card-title Hamburger
                                p.card-text $5.99

            h3.border-bottom.pb-2 Desserts
            .container.my-3.py-3
                .row
                    .col-4
                        .card
                            .card-body
                                h5.card-title Ice Cream
                                p.card-text $3.99
                    .col-4
                        .card
                            .card-body
                                h5.card-title Chocolate Cake
                                p.card-text $3.99 (slice)