extends /templates/table

block content
    h1 Games

    .container.border-top.mt-5.py-5
        .row
            .col-2
                .card
                    img.card-img-top(src='/mockups/static/img/game_unavailable.png' alt='Game unavailable')
                    .card-body
                        h5.card-title Game 1
                        p.card-text Game unavailable
            .col-2
                .card
                    img.card-img-top(src='/mockups/static/img/game_unavailable.png' alt='Game unavailable')
                    .card-body
                        h5.card-title Game 2
                        p.card-text Game unavailable