extends /templates/table

block styles
    link(rel="stylesheet" href="/mockups/static/table.css")

block content
    .row#buttons-wrapper
        .col-6.offset-3
            .row#buttons-top.mb-4
                .col-6
                    button.btn.btn-primary.btn-lg.btn-block#btnMenu Menu
                .col-6
                    button.btn.btn-primary.btn-lg.btn-block#btnGames Games
            .row#buttons-bottom
                .col-12
                    button.btn.btn-primary.btn-lg.btn-block#btnOrder Order
            