extends /templates/table

block styles
    link(rel="stylesheet" href="/mockups/static/table.css")

block content
    .row#buttons-wrapper
        .col-6.offset-3
            .row#buttons-top.mb-4
                .col-6
                    button.btn.btn-primary.btn-lg.btn-block#btnMenu Menu
                .col-6
                    button.btn.btn-primary.btn-lg.btn-block#btnGames Games
            .row#buttons-bottom
                .col-12
                    button.btn.btn-primary.btn-lg.btn-block#btnOrder(data-toggle='modal' data-target='#order-status-modal') Order Incoming
    .modal#order-status-modal(tabindex='-1', role='dialog')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Order Incoming
                .modal-body
                    p Your order will be on its way to you shortly!
                .modal-footer
                    button.btn.btn-success(type='button' data-dismiss='modal') OK